.learn-hero {
  text-align: center;
  background:    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/student.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 60px 20px;
  height: 400px;
   display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}
.learn-hero h1 {
  font-size: 2.5rem;
 
}
.learn-hero p {
  margin-top: 10px;
  font-size: 1.2rem;
}
.toggle-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.toggle-filter button {
  padding: 10px 20px;
  border: none;
  background:#06597a;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.toggle-filter button:hover {
  background:#ADD8E6 ;
}
.learn-content {
  padding: 40px 20px;
}
.learn-section {
  background: white;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
  display: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.learn-section h2 {
  color: #032B44;
  margin-bottom: 10px;
}


#what .what-div1 {
  display: flex;
  gap: 20px;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.what-div1 h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}
.what-div1 p{
  font-size: 1.5rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.what-div1 img{
  width: 50%;
  height: 600px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.what-div2{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px ;

}
.what-div2 h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: #032B44 5px  solid ;
padding-bottom: 30px;
}
.what-div2 p em{
  font-size: 1.2rem;
  line-height: 1.6;
 
}
.what-div2 p ul{
  list-style-type: square;

}
.scenario{
  font-size: 1.5rem;
  line-height: 1.6;
  padding-bottom: 30px;
}

.what-div3{
  display: flex;
  margin: 0 auto;
gap: 10px;
width: 80%;
justify-content: center;
margin-top: 50px;
}
.what-div3 .addict-statistic{
  width: 60%;
height: auto;
}
.stat-text{
  max-width: 50%;
  line-height: 2.5;
}
.stat-text h4{
font-size: 2rem;
padding-bottom: 20px;
}
.stat-text ul{
list-style-type: square;
font-size: 1.5rem;
}


.what-div4{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  max-width: 50%;
}
.what-div4 h2{
  font-size: 2rem;
}
.what-div4 i{
  font-size: 3.5rem;
}
.what-div4 p{
  font-size: 1.5rem;
    margin-bottom: 30px;
}

.what-btn{
  display: flex;
  gap: 30px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.what-btn1 {
  padding: 12px 24px;
  background-color: #032B44;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s ease;
  margin-top: 30px;
}

.what-btn1:hover {
  background-color: #065a82;
}

.what-btn2 {
  background-color: transparent;
  color: #032B44;
  border: 2px solid #032B44;
  /* margin-right: 30px; */
    text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s ease;
  padding: 12px 24px;

}

.what-btn2:hover {
  background-color: #032B44;
  color: white;
}

/* @media screen and (min-width: 1025px) {
    #what .what-div1{
   flex-direction: column-reverse;
    max-width: 90%;
    text-align: center;
    }
    .what-div1 img {
       width: 80%;
    height: auto;
    margin-top: 20px;
    }
    .what-div2{
  max-width: 80%;

    }
      .what-div3 {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    

  }
  .what-div3 .addict-statistic img{
  width: 100%;
}
  .stat-text {
    max-width: 90%;
    text-align: left;
  }
  .what-div4 {
    max-width:  90%;
  }
       
} */
@media screen and (max-width: 1024px) {
  #what .what-div1 {
    flex-direction: column-reverse;
    max-width: 100%;
    /* text-align: center; */
  }

  .what-div1 img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
.what-div2{
  max-width: 100%;
}
  .what-div3 {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    

  }
.what-div3 .addict-statistic img{
  max-width: 100%;
}
  .stat-text {
    max-width: 100%;
    text-align: left;
  }

  .what-div3 .addict-statistic {
    width: 100%;
  }

  .what-div4 {
    max-width:  100%;
  }
}

@media screen and (max-width: 768px) {
  .what-div1 h2 {
    font-size: 2rem;
  }

  .what-div1 p,
  .scenario,
  .stat-text ul {
    font-size: 1.1rem;
  }

  .stat-text h4 {
    font-size: 1.5rem;
    text-align: center;
  }

  .what-div2 h2 {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
.what-div4{
  max-width: 100%;
}
  .what-div4 h2 {
    font-size: 1.5rem;
  }

  .what-div4 i {
    font-size: 2rem;
  }

  .what-div4 p {
    font-size: 1.2rem;
  }
.what-btn{
  flex-direction: column;
  gap: 10px;
}
  .what-btn1,
  .what-btn2 {
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }

  .what-btn2 {
    margin-right: 0;
  }
}




/* types of addiction */
#types{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
#types h2{
  text-align: center;
  font-size: 3rem;
}
.types-div1{
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
gap: 100px;
width: 80%;
align-items: center;
justify-content: center;
margin-top: 50px;
}
 
.types-div1 img{
  max-width: 50%;
  height: 500px;
  margin:0 auto;
  border-radius: 20px;
}
.types-div1 p{
  /* max-width: ; */
  font-size: 1.5rem;
  line-height: 1.5;
}
.types-div1 ul{
  list-style-type: square;
  margin-top: 10px;
  font-size: 1.5rem;
  line-height: 1.5;
}
.types-div2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 80%;
}
.type-text2{
  max-width: 50%;
  text-align: left;
  line-height: 1.5;

}
.type-text2 h3{
  font-size: 2.5rem;
  text-align: left;
  border-bottom: #032B44 5px solid ;
width: -50px;
padding-bottom: 10px;
margin-bottom: 30px;
}

.type-text2  h4{
  font-size: 2rem;
}
.type-text2 p{
  font-size: 1.5rem;
}
.types-div2 img{
  width: 50%;

}

.types-div3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 70px;
  max-width: 80%;

}
.types-div3 h3{
  font-size: 2.5rem;
}
.types-div3 p{
  font-size:  1.5rem;
  line-height: 1.3;
}
.type-text1-sub{
  display: flex;
  gap: 60px;
  margin-top: 50px;
  padding-left: 20px;

}
.type-text1-sub1{
 border-left: #032B44 10px solid;
 border-bottom-left-radius: 20px;
 border-top-left-radius: 20px;
 padding-left: 30px;
 box-shadow: 1px 1px 10px 2px #032b443d;
 padding: 30px;
}
.type-text1-sub1 li{
  font-size: 2rem;
  color: #032B44;
  font-weight: 800;
  line-height: 1.5;

}
.types-div4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
}
.types-div4 div{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.types-div4 h3{
  font-size: 2.5rem;

}
.types-div4 div ul{
  list-style-type: square;
  font-weight: 500;
  line-height: 2.0;
}
@media screen and (max-width:1000px) {
  #types h2{
    font-size: 2.5rem;
   }
     .types-div1{
    flex-direction: column-reverse;
    max-width: 100%;
    gap: 30px;

   }
    .types-div1 img{
    width: 100%;
    height: auto;
    border-radius: 5px;
   }
     .types-div2{
flex-direction: column-reverse;
max-width: 100%;

   }
     .type-text2{
  max-width: 90%;

   }
    .types-div2 img{
    width: 50%;
   }
      .type-text1-sub{
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }  .types-div4 h3{
font-size: 1.5rem;
    width: 80%;

  }
    .types-div4{
    width: 80%;
  }
    .types-div4 div{
    width: 80%;
    font-size: 1.2rem;
   
  }
}
@media screen and (max-width:768px) {
  #types{

  }
   #types h2{
    font-size: 2rem;
   }
   .types-div1{
    flex-direction: column-reverse;
    max-width: 100%;
    gap: 30px;

   }
   .types-div1 img{
    max-width: 90%;
    height: auto;
    border-radius: 5px;
   }
   .types-div1 p{
    font-size: 1rem;
    max-width: 90%;
   }
   .types-div1 ul{
    font-size: 1rem;
   }
   .types-div2{
flex-direction: column-reverse;
max-width: 100%;

   }
   .type-text2{
  max-width: 90%;

   }
   .type-text2 h3{
  font-size: 1.5rem;
  padding-bottom: 10px;

   }
   .type-text2  h4{
    font-size: 1.5rem;
    margin-top: 30px;
   }
   .type-text2 p{
    font-size:1rem ;
   }
   .types-div2 img{
    width: 90%;
   }
   .types-div3{
    max-width: 100%;
   }
      .types-div3 h3{
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
   .types-div3 p{
    font-size: 1rem;
   }
   .type-text1-sub{
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
  .type-text1-sub1{
    max-width: 100%;
    text-align: left;
  }
  .type-text1-sub1 li{
    font-size: 1.2rem;
  }
  .types-div4{
    width: 90%;
  }
  .types-div4 div{
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
  .types-div4 h3{
font-size: 1.5rem;
  }

  .types-div5{
    flex-direction: column-reverse;
  }
  .types-div5 img{
   width: 100%;
  }
}


.types-div5{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 80%;

}
.type-text3{
  width: 50%;

}
.type-text3 h3{
  font-size: 2.5rem;
  text-align: left;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: #032B44 5px solid;
}
.type-text3 p{
  font-size: 1.5rem;
}
.type-text3 h4{
  font-size: 2rem;
  margin-top:20px;
  margin-bottom: 20px;
}
.type-text3 ul{
  font-size: 1.5rem;
  line-height: 1.5;

}
.types-div5 img{
  width: 50%;
}


.types-div6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  max-width: 90%;
  margin-top: 100px;

}
.types-div6 div{
  display: flex;
  max-width: 80%;
  gap: 30px;
}

.types-div6 h3{
  font-size: 2.5rem;
  /* border-bottom: #032B44 5px solid; */
  width: 80%;
  text-align: center;

}
.types-div6 p{
  font-size: 1.5rem;
}
.types-div6 ul {
  list-style: square;
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 20px;
}