*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head{
    background-color: #032B44;
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
    position: sticky;
    /* position: fixed;
    width:100%; */
    top: 0px;
    z-index: 100;
}
.logo{
    color: white;
    font-size: 1.5rem;
}
.logo span{
    color: #ADD8E6;
}
.ham i{
    display: none;
    font-size: 1.0rem;
}
.nav-link{
    display: flex;
   justify-content: center;
   gap: 30px;
   position: relative;
   align-items: center;
   color: white;
  
   margin: 0 auto;

}
.nav-link li{
    list-style: none;
    color: white;
  
}
.nav-link li a{
  text-decoration: none;
  transition: all 1s;
    color: white;
    font-size: 1rem;

}
.nav-link li a:hover{
    color: #ADD8E6;
    

}
.drop{
    position: relative;
}
.drop-menu{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ADD8E6;
    display: none;
    flex-direction: column;
    min-height: 150px;
    z-index: 100;
    transition: all 2.0s;
    padding: 10px 10px;
    border-bottom: 2px solid black;
    gap: 10px;
    width: 180px;

}
.drop-menu li a{
     border-bottom: 1px solid black;
     color:#032B44;

}
.drop-menu li a:hover{

    color: #032B44;
}
.drop:hover .drop-menu{
    display: flex;

}
.head-btn{
    background-color: white;
    color: #032B44;
    color: #032B44;
    padding: 10px 30px;
    /* border: 1px solid white; */
}
.head-btn a{
text-decoration: none;
font-size: 1rem;
font-weight: 600;
    color: #032B44;


}
@media screen and (max-width:768px){
    .head{
        padding: 20px 50px;
        /* position: fixed; */
    }    .logo{
        font-size: 1.2rem;
    }
    .ham i{
        display: block;
        color: white;
        font-size: 1.5rem;
    }
    .ham i:hover .nav-link{
        display: flex;
        z-index: 100;

    }
    .nav-link{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #032B44;
        z-index: 100;
    }
    .nav-link li{
        margin: 10px 0;
    }
    .nav-link.active{
        display: flex;
        z-index: 100;

    }
    .drop-menu{
      z-index: 120;
    }
    
    
    .cards {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
  }

  .cards button {
    width: 90%;
  }

  .home-herobtn {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width:380px){
     .head{
        padding: 20px 50px;
        gap: 20px;
        width:100% ;
    }
    .head-btn{
        padding: 0px 10px;
        font-size: 0.8rem;
    }
}

/* styling hero section */
body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.home-hero {
  height: auto;
  background: url('image1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
    justify-content: flex-start; /* was: center */
  padding-top: 120px;  /* pushes content downward */
  padding-bottom: 100px; 
  align-items: center;
  text-align: center;
  color: white;
    padding-bottom: 180px;
  transition: background 1s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color:#032b4494;
  z-index: 1;
}

.home-herotext {
  margin-top: -50px;
  z-index: 2;
  padding: 1rem;
  width: 90%;
   margin-top: 0px;
}

.home-herotext h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-herotext p {
  font-size: 1.5rem;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}


.home-herobtn{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30%;
}

.hero-btn {
  background-color:#032B44;
  color:white;
  padding: 15px 25px;
  margin-top: 30%;
  border: solid 1px white ;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s ease;
}
.hero-btn:nth-child(2) {
  background-color:white;
  color:#032B44;
  padding: 15px 25px;
  margin-top: 30%;
  border: solid 2px #032B44 ;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s ease;
}


.hero-btn:hover {
  background-color: #f2f2f2;
}

/* Cards (Slide Control Buttons) */
.cards {
  /* position: absolute; */
  position: relative;
  bottom: unset;
  /* bottom: 30px; */
  z-index: 2;
  display: flex;
  gap: 30px;
  margin-top: 100px;
  /* flex-wrap: wrap; */
  
}

.cards button {
  padding: 20px 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.438);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: white 0.5px solid;
  transition: background 0.3s;
  /* font-size: 0.5rem; */
}

.cards button:hover {
  background-color: #eee;
  color: #032B44;
}
.figure{
  font-size: 2.5rem;
}
/* Responsive Text */
/* @media (max-width: 570px){
 .home-herotext {
    margin-top: -200px;
    width: 80%;
  
  }
   .home-herotext h1{
  font-size: 1rem; 
  
  }

} */
@media (max-width: 541px){
.home-herotext {
    margin-top: -80px;
    width: 100%;
  
  }
  .home-hero
  .home-hero{
    height: 18;
  }
  
.link-buttons{
  display:flex;
  flex-direction: column;
  margin-top: -50px;

  }
  .link-buttons :nth-child(2){
margin-top: -120px;
  }

}
@media (max-width: 500px) {
  .home-herotext {
  
    margin-top: -80px;
  
  }
 .home-herotext h1{
  font-size: 2rem; 
  
  }
   .home-herotext p {
    font-size: 0.8rem;
  
   }
   .home-herobtn{
    gap:5px;
  
    
   }


  
}

.home-sec1{
  display: flex;
  justify-content: center;
  flex-direction: column;
padding-top: 50px;
  text-align: center;
  background-color: white;

  margin: 80px 30px 30px 0px;
}
.home-sec1 > h1{
  font-size: 2.3rem;
  color:#032B44;
}
.home-sec1 > p{
  padding-top: 10px;
}
.main-div1{
   display: flex;
  justify-content: center;
  margin-top: 50px;
  margin: 30px 0px 30px 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.home-div1 {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 5px 8px 1px #add8e68a;
  border-radius: 20px;

}
.home-div1 a{
  text-decoration: none;
  color: black;
}
.home-div1 img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 30px;
  /* padding-top: -30px; */
  border:#ADD8E6 3px solid;

}
.home-text1{
  width: 100%;
  height: 100px;
  text-align: left;
  padding: 20px 10px;
}
.home-text1 h1{
  font-size: 1rem;
}
.home-text1 p{
  font-size: 1rem;
  padding-top: 10px;
}
@media screen and (max-width:768px){

.main-div1{
  flex-wrap: wrap;

}
.home-div1{
  width: 80%;
  height: 350px;
}


}
@media screen and (max-width:1060px)and( min-width:768px){
  .main-div1{
  flex-wrap: wrap;

}
.home-div1{
  width: 35%;
  /* height: 350px; */

}

}

/* styling section2 */

.home-sec2{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-sec2 h1{
  font-size: 2.5rem;
  color: #032B44;
  border-width: 200px;
  padding: 10px 50px;
  position: relative;
   display: inline-block;
}
.home-sec2 h1::after{
  content: "";
position:absolute;
top:60px;
left:40%;
width: 150px;
height:5px;
background-color:#ADD8E6;
border-radius: 20px;

}
 .home-sec2 > p{
font-size: 18px;
padding-top: 20px;
/* buttom:-8px; */
 }

 .main-div2{
  display: flex;
 margin: 50px 50px;
  gap:30px;
  

 }
 .home-div2{
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #032B44;
  color: white;
  gap:15px;
  border-radius: 20px;
  padding: 10px;

 }
.home-div2 i{
  font-size: 4rem;
  transition: all 0.5s;
}
.home-div2 i:hover{
font-size: 4.5rem;
color:#ADD8E6;
  
}
.home-div2 h2{
  font-size: rem;

}
.home-div2 p{
  font-size: 1rem;
}
.home-div2 a{
  text-decoration: none;
  width:150px;
  height:40px;
  background-color: #ADD8E6;
  /* padding: 20px 50px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
color:#032B44;
}

@media screen and (max-width: 768px){


.home-sec2 h1{
  font-size: 2rem;
  width:100%,

}
.home-sec2 h1::after{
display:none;

}
 .home-sec2 > p{
  font-weight: 15px;
  width: 80%;
 }
 .main-div2{
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap:50px;
  /* margin: 0 auto; */
  justify-content: center;
  /* align-items: center; */

}
  .home-div2{
     width: 80%;
  height: auto;
  


}
}

@media screen and (max-width: 350px){
 .home-div2{
 width: 100%;

 }
 
  .home-div2 i{
    font-size: 2.5rem;

  }
 
}